HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
PRE {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
CODE {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
ADDRESS {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
CAPTION {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
CITE {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
CODE {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
EM {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
STRONG {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
TH {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; FONT-STYLE: normal
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
FIELDSET {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
.clear {
	CLEAR: both
}
.clearer {
	CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1px; PADDING-TOP: 0px; HEIGHT: 0px
}
IMG {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
.search-wrapper .left {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
.search-wrapper .right {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
UL.sp-results LI.viewall A {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
UL.sp-results LI .replacementimg {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
#globalfooter #breadcrumbs {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
#globalfooter #breadcrumbs SPAN {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
#directorynav .capbottom {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
#productheader H1 A {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
#productheader H2 A {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
#productheader A.buynow {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
#productheader A.ordernow {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
#productheader A.joinnow {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
#productheader A.preorder {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
#productheader A.freetrial {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
#productheader A.downloadnow {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
#productheader A.upgradenow {
	BEHAVIOR: url(/global/scripts/lib/iepngfix.htc)
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG.left {
	FLOAT: left; MARGIN: 2px 20px 16px 0px
}
IMG.right {
	FLOAT: right; MARGIN: 2px 0px 16px 20px
}
IMG.across {
	MARGIN: 2px 0px 16px
}
IMG.flushleft {
	MARGIN-LEFT: -20px
}
IMG.flushright {
	MARGIN-RIGHT: -20px
}
#omniture {
	POSITION: absolute; TOP: 0px
}
#top {
	POSITION: absolute; TOP: 0px
}
#container {
	MARGIN: 0px auto; WIDTH: 980px; POSITION: relative
}
#main {
	WIDTH: 100%; POSITION: relative
}
#content {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 18px; COLOR: #333; PADDING-TOP: 18px; POSITION: relative
}
#breadcrumb {
	CLEAR: both; FONT-SIZE: 10px; MARGIN: 18px auto; COLOR: #686868; TEXT-ALIGN: center
}
.column {
	FLOAT: left
}
.grid2col {
	WIDTH: 100%
}
.grid2cola {
	WIDTH: 100%
}
.grid2colb {
	WIDTH: 100%
}
.grid2colc {
	WIDTH: 100%
}
.grid2cold {
	WIDTH: 100%
}
.grid2cole {
	WIDTH: 100%
}
.grid2colf {
	WIDTH: 100%
}
.grid3col {
	WIDTH: 100%
}
.grid3cola {
	WIDTH: 100%
}
.grid4col {
	WIDTH: 100%
}
.grid5col {
	WIDTH: 100%
}
.grid6col {
	WIDTH: 100%
}
.grid2col .column {
	WIDTH: 49%
}
.grid2col .grid2col .column {
	WIDTH: 47.8%
}
.grid3col .grid2col .column {
	WIDTH: 46%
}
.grid4col .grid2col .column {
	WIDTH: 45%
}
.grid2cola .first.column {
	WIDTH: 66%
}
.grid2cola .last.column {
	WIDTH: 32%
}
.grid2colb .first.column {
	WIDTH: 74.9%
}
.grid2colb .last.column {
	WIDTH: 23%
}
.grid2colc .first.column {
	WIDTH: 32%
}
.grid2colc .last.column {
	WIDTH: 66%
}
.grid2cold .first.column {
	WIDTH: 23%
}
.grid2cold .last.column {
	WIDTH: 74.9%
}
.grid2cole .first.column {
	WIDTH: 79%
}
.grid2cole .last.column {
	WIDTH: 19%
}
.grid2colf .first.column {
	WIDTH: 19%
}
.grid2colf .last.column {
	WIDTH: 79%
}
.grid3col .column {
	MARGIN-LEFT: 2%; WIDTH: 32%
}
.grid2col .grid3col .column {
	WIDTH: 31%
}
.grid3cola .column {
	MARGIN-LEFT: 2%; WIDTH: 58%
}
.grid3cola .first.column {
	WIDTH: 19%
}
.grid3cola .last.column {
	WIDTH: 19%
}
.grid4col .column {
	MARGIN-LEFT: 3%; WIDTH: 23%
}
.grid5col .column {
	MARGIN-LEFT: 2%; WIDTH: 18.4%
}
.grid6col .column {
	MARGIN-LEFT: 2%; WIDTH: 15%
}
.first.column {
	MARGIN-LEFT: 0px! important
}
.last.column {
	MARGIN-LEFT: 0px! important
}
.last.column {
	FLOAT: right! important
}
P.last {
	_width: auto; _float: none
}
UL.last {
	_width: auto; _float: none
}
OL.last {
	_width: auto; _float: none
}
LI.last {
	_width: auto; _float: none
}
#container:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
#content:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid2col:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid2cola:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid2colb:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid2colc:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid2cold:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid2cole:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid2colf:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid3col:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid3cola:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid4col:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid5col:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.grid6col:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
#container {
	ZOOM: 1
}
#content {
	ZOOM: 1
}
.grid2col {
	ZOOM: 1
}
.grid2cola {
	ZOOM: 1
}
.grid2colb {
	ZOOM: 1
}
.grid2colc {
	ZOOM: 1
}
.grid2cold {
	ZOOM: 1
}
.grid2cole {
	ZOOM: 1
}
.grid2colf {
	ZOOM: 1
}
.grid3col {
	ZOOM: 1
}
.grid3cola {
	ZOOM: 1
}
.grid4col {
	ZOOM: 1
}
.grid5col {
	ZOOM: 1
}
.grid6col {
	ZOOM: 1
}
BODY {
	FONT: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; COLOR: #333; BACKGROUND-COLOR: #fff
}
A {
	COLOR: #08c
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A.more {
	PADDING-RIGHT: 10px; BACKGROUND: url(http://images.apple.com/global/elements/arrows/morearrow_08c.gif) no-repeat 100% 50%; ZOOM: 1; WHITE-SPACE: nowrap
}
A[rel='external'] {
	PADDING-RIGHT: 15px; BACKGROUND: url(http://images.apple.com/global/elements/icons/external10x10.gif) no-repeat 100% 50%; ZOOM: 1; WHITE-SPACE: nowrap
}
A.external {
	PADDING-RIGHT: 15px; BACKGROUND: url(http://images.apple.com/global/elements/icons/external10x10.gif) no-repeat 100% 50%; ZOOM: 1; WHITE-SPACE: nowrap
}
STRONG {
	FONT-WEIGHT: bold
}
B {
	FONT-WEIGHT: bold
}
EM {
	FONT-STYLE: italic
}
I {
	FONT-STYLE: italic
}
SUP {
	PADDING-LEFT: 1px; FONT-WEIGHT: normal! important; FONT-SIZE: 10px! important; VERTICAL-ALIGN: baseline; COLOR: #76797c; BOTTOM: 0.33em; POSITION: relative; _position: static
}
ABBR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.sosumi {
	FONT-SIZE: 10px! important; COLOR: #76797c
}
.sosumi_features {
	FONT-SIZE: 10px! important; COLOR: #76797c
}
P {
	MARGIN-BOTTOM: 18px
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; MARGIN-BOTTOM: 18px; LINE-HEIGHT: 36px
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: 18px; LINE-HEIGHT: 18px
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; LINE-HEIGHT: 18px
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; LINE-HEIGHT: 18px
}
P.intro {
	FONT-WEIGHT: bold
}
.more {
	TEXT-ALIGN: right
}
UL {
	LIST-STYLE-POSITION: outside; MARGIN-BOTTOM: 18px; LIST-STYLE-TYPE: none
}
OL {
	MARGIN-BOTTOM: 18px; MARGIN-LEFT: 2.2em; LIST-STYLE-TYPE: decimal
}
UL.square {
	MARGIN-LEFT: 2em
}
UL.circle {
	MARGIN-LEFT: 2em
}
UL.square {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: square
}
UL.circle {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: circle
}
UL UL.circle {
	MARGIN-TOP: 4px; MARGIN-BOTTOM: 5px
}
UL UL.square {
	MARGIN-TOP: 4px; MARGIN-BOTTOM: 5px
}
OL.sosumi {
	PADDING-LEFT: 2em; MARGIN-LEFT: 0px
}
A.pdf {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globaliconpdf12x12.gif) no-repeat 0px 0.4em
}
A.html {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globaliconhtml12x12.gif) no-repeat 0px 0.4em
}
A.qt {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globaliconqt12x12.gif) no-repeat 0px 0.4em
}
A.ical {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globaliconical12x12.gif) no-repeat 0px 0.4em
}
A.dl {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globalicondl11x10.gif) no-repeat 0px 0.4em
}
A.dmg {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globalicondmg12x12.gif) no-repeat 0px 0.4em
}
A.zip {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globaliconzip12x12.gif) no-repeat 0px 0.4em
}
A.keynote {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globaliconkeynote12x12.gif) no-repeat 0px 0.4em
}
A.audio {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/elements/icons/globaliconaudio12x12.gif) no-repeat 0px 0.4em
}
.last {
	MARGIN-BOTTOM: 0px
}
#main .sidebar {
	FONT-SIZE: 10px; COLOR: #686868; LINE-HEIGHT: 18px
}
#main .callout {
	FONT-SIZE: 11px; MARGIN-BOTTOM: 18px; LINE-HEIGHT: 18px
}
.piped {
	DISPLAY: block; ZOOM: 1
}
.piped:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.piped LI {
	DISPLAY: inline; FLOAT: left
}
.piped A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0.75em; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0.75em; BORDER-LEFT: #797c80 1px solid; PADDING-TOP: 0px
}
.piped A.first {
	PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px! important; MARGIN-LEFT: 0px! important
}
INPUT.prettysearch {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(http://images.apple.com/global/elements/prettysearch/searchfield_repeat.png) repeat-x center top; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 11px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; WIDTH: 200px; PADDING-TOP: 3px; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px
}
.search-wrapper {
	WIDTH: 200px; POSITION: relative
}
.search-wrapper INPUT.prettysearch {
	MARGIN-TOP: -1px; MARGIN-LEFT: 10px; WIDTH: 171px; MARGIN-RIGHT: -2px
}
.search-wrapper .left {
	DISPLAY: block; BACKGROUND: url(http://images.apple.com/global/elements/prettysearch/searchfield_leftcap.png) no-repeat left top; LEFT: 0px; WIDTH: 20px; POSITION: absolute; TOP: 0px; HEIGHT: 19px
}
.search-wrapper .right {
	DISPLAY: block; RIGHT: 0px; BACKGROUND: url(http://images.apple.com/global/elements/prettysearch/searchfield_rightcap.png) no-repeat right top; WIDTH: 10px; POSITION: absolute; TOP: 0px; HEIGHT: 19px
}
.blurred.empty.search-wrapper INPUT {
	COLOR: #7e7e7e
}
.search-wrapper .reset {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 4px; BACKGROUND: url(http://images.apple.com/global/elements/prettysearch/close.gif); OVERFLOW: hidden; WIDTH: 11px; CURSOR: pointer; POSITION: absolute; TOP: 4px; HEIGHT: 11px; _cursor: hand
}
.empty.search-wrapper .reset {
	DISPLAY: none
}
LABEL .prettyplaceholder {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 0px; TEXT-INDENT: -9999px; HEIGHT: 0px
}
#globalheader {
	Z-INDEX: 9998; MARGIN: 18px auto; WIDTH: 982px; POSITION: relative; HEIGHT: 38px
}
#globalheader #globalnav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#globalheader #globalnav LI {
	DISPLAY: inline
}
#globalheader #globalnav LI A {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 117px; PADDING-TOP: 38px; HEIGHT: 0px
}
#globalheader #globalnav LI A {
	BACKGROUND-IMAGE: url(http://images.apple.com/global/nav/images/globalnavbg.png); BACKGROUND-REPEAT: no-repeat; _background-image: url(http://images.apple.com/global/nav/images/globalnavbg.gif)
}
#globalheader #globalsearch {
	BACKGROUND-IMAGE: url(http://images.apple.com/global/nav/images/globalnavbg.png); BACKGROUND-REPEAT: no-repeat; _background-image: url(http://images.apple.com/global/nav/images/globalnavbg.gif)
}
#globalheader #globalnav LI#gn-store A {
	BACKGROUND-POSITION: 0px 0px
}
#globalheader #globalnav LI#gn-store A {
	BACKGROUND-POSITION: -117px 0px
}
#globalheader #globalnav LI#gn-mac A {
	BACKGROUND-POSITION: -234px 0px
}
#globalheader #globalnav LI#gn-ipoditunes A {
	BACKGROUND-POSITION: -351px 0px
}
#globalheader #globalnav LI#gn-iphone A {
	BACKGROUND-POSITION: -468px 0px
}
#globalheader #globalnav LI#gn-downloads A {
	BACKGROUND-POSITION: -585px 0px
}
#globalheader #globalnav LI#gn-support A {
	BACKGROUND-POSITION: -702px 0px
}
#globalheader #globalnav LI#gn-apple A:hover {
	BACKGROUND-POSITION: 0px -38px
}
#globalheader #globalnav LI#gn-store A:hover {
	BACKGROUND-POSITION: -117px -38px
}
#globalheader #globalnav LI#gn-mac A:hover {
	BACKGROUND-POSITION: -234px -38px
}
#globalheader #globalnav LI#gn-ipoditunes A:hover {
	BACKGROUND-POSITION: -351px -38px
}
#globalheader #globalnav LI#gn-iphone A:hover {
	BACKGROUND-POSITION: -468px -38px
}
#globalheader #globalnav LI#gn-downloads A:hover {
	BACKGROUND-POSITION: -585px -38px
}
#globalheader #globalnav LI#gn-support A:hover {
	BACKGROUND-POSITION: -702px -38px
}
#globalheader #globalnav LI#gn-apple A:active {
	BACKGROUND-POSITION: 0px -76px
}
#globalheader #globalnav LI#gn-store A:active {
	BACKGROUND-POSITION: -117px -76px
}
#globalheader #globalnav LI#gn-mac A:active {
	BACKGROUND-POSITION: -234px -76px
}
#globalheader #globalnav LI#gn-ipoditunes A:active {
	BACKGROUND-POSITION: -351px -76px
}
#globalheader #globalnav LI#gn-iphone A:active {
	BACKGROUND-POSITION: -468px -76px
}
#globalheader #globalnav LI#gn-downloads A:active {
	BACKGROUND-POSITION: -585px -76px
}
#globalheader #globalnav LI#gn-support A:active {
	BACKGROUND-POSITION: -702px -76px
}
.home#globalheader #globalnav LI#gn-apple A:hover {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.store#globalheader #globalnav LI#gn-store A {
	BACKGROUND-POSITION: -117px -114px
}
.mac#globalheader #globalnav LI#gn-mac A {
	BACKGROUND-POSITION: -234px -114px
}
.ipoditunes#globalheader #globalnav LI#gn-ipoditunes A {
	BACKGROUND-POSITION: -351px -114px
}
.iphone#globalheader #globalnav LI#gn-iphone A {
	BACKGROUND-POSITION: -468px -114px
}
.downloads#globalheader #globalnav LI#gn-downloads A {
	BACKGROUND-POSITION: -585px -114px
}
.support#globalheader #globalnav LI#gn-support A {
	BACKGROUND-POSITION: -702px -114px
}
INPUT[type=search].not-round {
	WIDTH: 200px; HEIGHT: 19px; outline: none; -webkit-border-radius: 9px; -webkit-border-image: url(http://images.apple.com/global/elements/prettysearch/searchfield_border.png) 2 2 2 2 stretch stretch
}
#globalsearch {
	BACKGROUND-POSITION: 100% 0px; RIGHT: 0px; WIDTH: 163px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 0px; HEIGHT: 38px
}
.active#globalsearch {
	BACKGROUND-POSITION: 100% -38px
}
#globalsearch INPUT.g-prettysearch {
	BACKGROUND: url(http://images.apple.com/global/nav/images/searchfield_repeat.png) repeat-x center top
}
#globalsearch .search-wrapper INPUT.g-prettysearch {
	BACKGROUND: url(http://images.apple.com/global/nav/images/searchfield_repeat.png) repeat-x center top
}
#globalsearch INPUT.g-prettysearch {
	MARGIN-TOP: 9px; MARGIN-LEFT: 11px; WIDTH: 140px; HEIGHT: 16px
}
#globalsearch .search-wrapper {
	MARGIN-TOP: 9px; MARGIN-LEFT: 11px; WIDTH: 140px; POSITION: relative
}
#globalsearch .search-wrapper INPUT.g-prettysearch {
	MARGIN-TOP: -1px; MARGIN-LEFT: 10px; WIDTH: 110px; MARGIN-RIGHT: -2px
}
#globalsearch .search-wrapper .left {
	DISPLAY: block; BACKGROUND: url(http://images.apple.com/global/nav/images/searchfield_leftcap.png) no-repeat left top; LEFT: 0px; WIDTH: 20px; POSITION: absolute; TOP: 0px; HEIGHT: 19px
}
#globalsearch .search-wrapper .left {
	DISPLAY: block; BACKGROUND: url(http://images.apple.com/global/nav/images/searchfield_leftcap.png) no-repeat left top; LEFT: 0px; WIDTH: 20px; POSITION: absolute; TOP: 0px; HEIGHT: 19px
}
#globalsearch .search-wrapper .right {
	DISPLAY: block; RIGHT: 0px; BACKGROUND: url(http://images.apple.com/global/nav/images/searchfield_rightcap.png) no-repeat right top; WIDTH: 10px; POSITION: absolute; TOP: 0px; HEIGHT: 19px
}
#globalsearch .blurred.empty.search-wrapper INPUT {
	COLOR: #7e7e7e
}
#globalsearch .search-wrapper .reset {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 4px; BACKGROUND: url(http://images.apple.com/global/nav/images/close.gif); OVERFLOW: hidden; WIDTH: 11px; CURSOR: pointer; POSITION: absolute; TOP: 4px; HEIGHT: 11px; _cursor: hand
}
#globalsearch .empty.search-wrapper .reset {
	DISPLAY: none
}
#globalsearch .search-wrapper INPUT.g-prettysearch {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; RIGHT: 10px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 11px "Lucida Grande", Arial, sans-serif; WIDTH: 110px; PADDING-TOP: 3px; POSITION: absolute; TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#globalsearch LABEL .prettyplaceholder {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 0px; TEXT-INDENT: -9999px; HEIGHT: 0px
}
#globalsearch INPUT[type=search].not-round {
	BACKGROUND: #ababab; WIDTH: 133px; HEIGHT: 19px; outline: none; -webkit-border-radius: 9px; -webkit-border-image: url(http://images.apple.com/global/elements/prettysearch/searchfield_border.png) 2 2 2 2 stretch stretch
}
#sp-results {
	LEFT: 165px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px; MARGIN-RIGHT: -2px; POSITION: absolute; TOP: 61px; HEIGHT: 0px
}
#sp-results .inside {
	FONT-SIZE: 1px; RIGHT: 0px; WIDTH: 328px; LINE-HEIGHT: 1px; POSITION: absolute; TOP: 0px; HEIGHT: auto
}
#sp-results .resultCat {
	BORDER-RIGHT: #fb6bff 1px; BORDER-TOP: #fb6bff 1px; BACKGROUND: #919191; PADDING-BOTTOM: 12px; MARGIN: 0px; FONT: bold 11px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; BORDER-LEFT: #fb6bff 1px; WIDTH: 302px; COLOR: #f6f6f6; BORDER-BOTTOM: #fb6bff 1px; POSITION: relative; HEIGHT: 8px
}
UL.sp-results {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: url(http://images.apple.com/global/nav/images/shortcuts_bg_mid_grey.png) repeat-y 0px 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 10px/14px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; WIDTH: 328px; COLOR: #333; PADDING-TOP: 0px; TEXT-ALIGN: left; _background: url(http://images.apple.com/global/nav/images/shortcuts_bg_mid_grey.gif) repeat-y 0 0
}
UL.sp-results LI {
	BORDER-RIGHT: #919191 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 0px 0px -3px; BORDER-LEFT: #919191 1px solid; WIDTH: 300px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none; POSITION: relative; HEIGHT: 4.6em
}
UL.sp-results LI.viewall {
	BACKGROUND: url(http://images.apple.com/global/nav/images/shortcuts_bg_foot_grey.png) no-repeat left bottom; LEFT: 0px; WIDTH: 308px; COLOR: #000; BORDER-TOP-STYLE: none; BOTTOM: -27px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: absolute; HEIGHT: 20px; TEXT-ALIGN: right; BORDER-BOTTOM-STYLE: none; _background: url(http://images.apple.com/global/nav/images/shortcuts_bg_foot_grey.gif) no-repeat left bottom
}
UL.sp-results LI.viewall A {
	PADDING-RIGHT: 23px; BACKGROUND: url(http://images.apple.com/global/nav/images/shortcuts_arrow.gif) no-repeat 99% 50%; PADDING-BOTTOM: 3px; FONT: bold 11px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; COLOR: #fff; PADDING-TOP: 3px
}
UL.sp-results LI.hoverli {
	BACKGROUND: #b7b7b7 repeat-x; CURSOR: pointer; COLOR: #fff
}
UL.sp-results LI.hoverli H4 A {
	COLOR: #fff
}
UL.sp-results LI.hoverli P {
	COLOR: #f1f1f1
}
UL.sp-results LI SPAN.text {
	DISPLAY: block; LEFT: 68px; WIDTH: 240px; POSITION: absolute
}
UL.sp-results LI H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 0px
}
UL.sp-results LI P {
	FONT-SIZE: 10px; MARGIN: 0px; OVERFLOW: hidden; COLOR: #555; HEIGHT: 2.7em
}
UL.sp-results LI A {
	COLOR: #606060; TEXT-DECORATION: none
}
UL.sp-results LI IMG {
	LEFT: 10px; WIDTH: 46px; POSITION: absolute; HEIGHT: 46px
}
UL.sp-results LI .replacementimg {
	LEFT: 10px; WIDTH: 46px; POSITION: absolute; HEIGHT: 46px
}
UL.sp-results LI H4 A {
	COLOR: #191919
}
UL.sp-results LI.hover.viewall {
	BACKGROUND: url(http://images.apple.com/global/nav/images/shortcuts_bg_foot_grey.png) no-repeat left bottom
}
#sp-search-spinner {
	DISPLAY: none; Z-INDEX: 10; RIGHT: 16px; POSITION: absolute; TOP: 13px
}
#sp-search-cancel IMG {
	CURSOR: pointer
}
#sp-results .firstCat {
	BACKGROUND: url(http://images.apple.com/global/nav/images/shortcuts_bg_head_grey.png) no-repeat left top; LEFT: 0px; WIDTH: 308px; POSITION: absolute; TOP: -25px; HEIGHT: 8px; _background: url(http://images.apple.com/global/nav/images/shortcuts_bg_head_grey.gif) no-repeat left top
}
.viewall#sp-result-none {
	BOTTOM: -27px
}
.viewall#sp-result-none A {
	FONT-SIZE: 10px
}
#globalfooter .gf-buy {
	FLOAT: left; MARGIN: 18px 0px 9px; WIDTH: 60%
}
#globalfooter .gf-links {
	FLOAT: right; MARGIN: 18px 0px 9px
}
#globalfooter .gf-links A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
#globalfooter .gf-links A.last {
	PADDING-RIGHT: 0px; WIDTH: auto! important; _float: none
}
#globalfooter {
	FONT-SIZE: 10px; PADDING-BOTTOM: 36px; MARGIN: 18px auto; WIDTH: 980px; COLOR: #888; TEXT-ALIGN: left! important
}
#globalfooter A {
	COLOR: #08c
}
#globalfooter P {
	MARGIN-BOTTOM: 1em
}
#globalfooter P.gf-buy {
	FLOAT: left; MARGIN: 18px 0px 9px 3px; WIDTH: 52%
}
#globalfooter UL.piped A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.5em; PADDING-BOTTOM: 0px; MARGIN-LEFT: 1.5em; BORDER-LEFT: #d0d0d0 1px solid; PADDING-TOP: 0px
}
#globalfooter .gf-links {
	FLOAT: right; MARGIN: 18px 3px 9px 0px
}
#globalfooter .gf-sosumi {
	CLEAR: both; BORDER-TOP: #ddd 1px solid; WIDTH: 100%; PADDING-TOP: 9px
}
#globalfooter .gf-sosumi A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#globalfooter .gf-sosumi P {
	FLOAT: left; MARGIN-LEFT: 3px
}
#globalfooter FORM {
	MARGIN: 18px 10px
}
#globalfooter .search-wrapper {
	MARGIN: 0px auto
}
#globalfooter .search-wrapper INPUT.prettysearch {
	MARGIN-LEFT: 10px
}
#globalfooter UL.piped A.contact_us {
	BORDER-RIGHT: #d0d0d0 1px solid; PADDING-RIGHT: 1.5em
}
#globalfooter UL.piped A.choose {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 0px; BORDER-RIGHT-WIDTH: 0px
}
#globalfooter UL.piped A.choose IMG {
	MARGIN-TOP: -5px; VERTICAL-ALIGN: middle; POSITION: relative
}
#globalfooter #breadcrumbs {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(http://images.apple.com/global/nav/images/breadcrumb_bg.png) no-repeat; OVERFLOW: hidden; COLOR: #444; LINE-HEIGHT: 34px; HEIGHT: 36px; text-shadow: 2px 2px 1px #fff
}
#globalfooter #breadcrumbs A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: -10px; COLOR: #444; PADDING-TOP: 0px; POSITION: relative; TEXT-DECORATION: none; _cursor: hand
}
#globalfooter #breadcrumbs A:hover {
	COLOR: #333; TEXT-DECORATION: none! important
}
#globalfooter #breadcrumbs A.home {
	MARGIN: 0px; OVERFLOW: hidden; WIDTH: 15px; PADDING-TOP: 36px; HEIGHT: 0px
}
#globalfooter #breadcrumbs SPAN {
	BACKGROUND: url(http://images.apple.com/global/nav/images/breadcrumb_sep.png) no-repeat; FLOAT: left; MARGIN: 1px 10px 0px 0px; OVERFLOW: hidden; WIDTH: 9px; PADDING-TOP: 34px; POSITION: relative; HEIGHT: 0px
}
#globalfooter OL#breadcrumbs {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(http://images.apple.com/global/nav/images/breadcrumb_bg.png) no-repeat; MARGIN: 0px; COLOR: #444; LINE-HEIGHT: 34px; LIST-STYLE-TYPE: none; HEIGHT: 36px; text-shadow: 2px 2px 1px #fff
}
#globalfooter OL#breadcrumbs LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(http://images.apple.com/global/nav/images/breadcrumb_sep_20080909.png) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#globalfooter OL#breadcrumbs LI A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: -10px; COLOR: #444; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#globalfooter OL#breadcrumbs LI A:hover {
	COLOR: #333; TEXT-DECORATION: none
}
#globalfooter OL#breadcrumbs LI.home {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#globalfooter OL#breadcrumbs LI.home A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 15px; TEXT-INDENT: -9999px; PADDING-TOP: 0px
}
#directorynav {
	BORDER-TOP: #e5e5e5 1px solid; MARGIN-TOP: -4px; FONT-SIZE: 11px; BACKGROUND: url(http://images.apple.com/global/nav/images/directory_bg.png) repeat-y; FLOAT: left; WIDTH: 100%; POSITION: relative
}
#directorynav .column {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; PADDING-BOTTOM: 4px; WIDTH: 122px; PADDING-TOP: 9px
}
#directorynav .last.column {
	PADDING-RIGHT: 0px; FLOAT: left! important
}
#directorynav H3 {
	FONT-WEIGHT: bold; COLOR: #666
}
#directorynav H3.standalone {
	MARGIN-BOTTOM: 18px
}
#directorynav A {
	DISPLAY: block; COLOR: #888; ZOOM: 1; TEXT-DECORATION: none
}
#directorynav H3.standalone A:link {
	COLOR: #444
}
#directorynav H3.standalone A:visited {
	COLOR: #444
}
#directorynav A:hover {
	COLOR: #333! important; TEXT-DECORATION: none! important
}
#directorynav .capbottom {
	CLEAR: both; BACKGROUND: url(http://images.apple.com/global/nav/images/directory_capbg.png) no-repeat; WIDTH: 980px; POSITION: relative; TOP: 5px; HEIGHT: 5px; _top: 12px
}
#directorynav UL {
	MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 9px
}
#directorynav .column {
	WIDTH: 120px
}
.mac#directorynav #dn-cola {
	WIDTH: 120px
}
.mac#directorynav #dn-colb {
	WIDTH: 115px
}
.mac#directorynav #dn-cold {
	WIDTH: 110px
}
.mac#directorynav #dn-colg {
	WIDTH: 130px
}
.iphone#directorynav .column {
	PADDING-RIGHT: 0px; PADDING-LEFT: 45px; PADDING-BOTTOM: 0px; WIDTH: 146px; PADDING-TOP: 9px
}
.ipoditunes#directorynav .column {
	WIDTH: 177px
}
#breadory {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; MARGIN: 0px auto; BORDER-LEFT: #ddd 1px solid; WIDTH: 978px; BORDER-BOTTOM: #ddd 1px solid; -webkit-border-radius: 4px; -moz-border-radius: 4px
}
#globalfooter #breadory OL#breadcrumbs {
	CLEAR: both; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; MARGIN: 0px; COLOR: #666; LINE-HEIGHT: 3em; LIST-STYLE-TYPE: none; HEIGHT: 3em; text-shadow: 2px 2px 1px #fff
}
#breadory OL#breadcrumbs LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#breadory OL#breadcrumbs LI A {
	PADDING-RIGHT: 1.75em; PADDING-LEFT: 0px; BACKGROUND: url(http://images.apple.com/global/nav/images/breadcrumb_separator.png) no-repeat 100% 50%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; COLOR: #666; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#breadory OL#breadcrumbs LI A:hover {
	COLOR: #333; TEXT-DECORATION: none
}
#breadory OL#breadcrumbs LI.home {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#breadory OL#breadcrumbs LI.home A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.25em; BACKGROUND: url(http://images.apple.com/global/nav/images/breadcrumb_home.png) no-repeat 1.25em 50%; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 30px; TEXT-INDENT: -9999px; PADDING-TOP: 0px
}
#breadory OL#breadcrumbs LI.home A:hover {
	BACKGROUND-IMAGE: url(http://images.apple.com/global/nav/images/breadcrumb_home_over.png)
}
#breadory #directorynav {
	CLEAR: both; MARGIN-TOP: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none
}
#breadory #directorynav .capbottom {
	FONT-SIZE: 1px; HEIGHT: 0px; _display: none
}
#productheader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.2em; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 980px; PADDING-TOP: 1em; BORDER-BOTTOM: #ddd 1px solid; POSITION: relative; HEIGHT: 39px
}
#productheader H1 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 1px 0px 6px 8px; LINE-HEIGHT: 32px; PADDING-TOP: 0px
}
#productheader H2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 1px 0px 6px 8px; LINE-HEIGHT: 32px; PADDING-TOP: 0px
}
#productheader H1 A {
	BACKGROUND-POSITION: 0px 0px; DISPLAY: block; FONT-WEIGHT: normal; COLOR: #888; TEXT-INDENT: -9999px; LINE-HEIGHT: 32px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; HEIGHT: 32px; TEXT-DECORATION: none; outline: none
}
#productheader H2 A {
	BACKGROUND-POSITION: 0px 0px; DISPLAY: block; FONT-WEIGHT: normal; COLOR: #888; TEXT-INDENT: -9999px; LINE-HEIGHT: 32px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; HEIGHT: 32px; TEXT-DECORATION: none; outline: none
}
BODY#overview #productheader H1 A {
	CURSOR: default
}
BODY#overview #productheader H2 A {
	CURSOR: default
}
#productheader UL {
	DISPLAY: inline; FLOAT: right; MARGIN: 0px
}
#productheader UL LI {
	DISPLAY: inline
}
#productheader UL LI A {
	PADDING-RIGHT: 0px; MARGIN-TOP: 1em; PADDING-LEFT: 0px; FLOAT: left! important; PADDING-BOTTOM: 0px; MARGIN-LEFT: 30px; COLOR: #999; MARGIN-RIGHT: 8px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#productheader UL LI A:hover {
	COLOR: #08c
}
#productheader A.buynow {
	BACKGROUND-POSITION: 0px 0px; DISPLAY: block; FLOAT: right; MARGIN: 0.7em 0px 0px 20px; OVERFLOW: hidden; TEXT-INDENT: -9999px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; HEIGHT: 25px; TEXT-DECORATION: none; outline: none
}
#productheader A.ordernow {
	BACKGROUND-POSITION: 0px 0px; DISPLAY: block; FLOAT: right; MARGIN: 0.7em 0px 0px 20px; OVERFLOW: hidden; TEXT-INDENT: -9999px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; HEIGHT: 25px; TEXT-DECORATION: none; outline: none
}
#productheader A.joinnow {
	BACKGROUND-POSITION: 0px 0px; DISPLAY: block; FLOAT: right; MARGIN: 0.7em 0px 0px 20px; OVERFLOW: hidden; TEXT-INDENT: -9999px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; HEIGHT: 25px; TEXT-DECORATION: none; outline: none
}
#productheader A.preorder {
	BACKGROUND-POSITION: 0px 0px; DISPLAY: block; FLOAT: right; MARGIN: 0.7em 0px 0px 20px; OVERFLOW: hidden; TEXT-INDENT: -9999px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; HEIGHT: 25px; TEXT-DECORATION: none; outline: none
}
#productheader A.freetrial {
	BACKGROUND-POSITION: 0px 0px; DISPLAY: block; FLOAT: right; MARGIN: 0.7em 0px 0px 20px; OVERFLOW: hidden; TEXT-INDENT: -9999px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; HEIGHT: 25px; TEXT-DECORATION: none; outline: none
}
#productheader A.downloadnow {
	BACKGROUND-POSITION: 0px 0px; DISPLAY: block; FLOAT: right; MARGIN: 0.7em 0px 0px 20px; OVERFLOW: hidden; TEXT-INDENT: -9999px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; HEIGHT: 25px; TEXT-DECORATION: none; outline: none
}
#productheader A.upgradenow {
	BACKGROUND-POSITION: 0px 0px; DISPLAY: block; FLOAT: right; MARGIN: 0.7em 0px 0px 20px; OVERFLOW: hidden; TEXT-INDENT: -9999px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; HEIGHT: 25px; TEXT-DECORATION: none; outline: none
}
#productheader A.buynow {
	BACKGROUND-IMAGE: url(http://images.apple.com/global/elements/buttons/buynow.png); WIDTH: 72px
}
#productheader A.ordernow {
	BACKGROUND-IMAGE: url(http://images.apple.com/global/elements/buttons/ordernow.png); WIDTH: 81px
}
#productheader A.joinnow {
	BACKGROUND-IMAGE: url(http://images.apple.com/global/elements/buttons/joinnow.png); WIDTH: 72px
}
#productheader A.preorder {
	BACKGROUND-IMAGE: url(http://images.apple.com/global/elements/buttons/preorder.png); WIDTH: 99px
}
#productheader A.freetrial {
	BACKGROUND-IMAGE: url(http://images.apple.com/global/elements/buttons/freetrial.png); WIDTH: 72px
}
#productheader A.downloadnow {
	BACKGROUND-IMAGE: url(http://images.apple.com/global/elements/buttons/downloadnow.png); WIDTH: 108px; HEIGHT: 26px
}
#productheader A.upgradenow {
	BACKGROUND-IMAGE: url(http://images.apple.com/global/elements/buttons/upgradenow.png); WIDTH: 104px
}
#promofooter #promos LI.holiday {
	BACKGROUND: #e3f4fd
}
#promofooter #promos LI.holiday H4 {
	Z-INDEX: 5; POSITION: relative
}
#promofooter #promos LI.holiday P {
	Z-INDEX: 5; POSITION: relative
}
#promofooter #promos LI.holiday A.image {
	Z-INDEX: 4
}

@media Print    
{
BODY {
	COLOR: #000! important
}
#main {
	COLOR: #000! important
}
#content {
	COLOR: #000! important
}
A {
	COLOR: #000! important; TEXT-DECORATION: none! important
}
A:link {
	COLOR: #000! important; TEXT-DECORATION: none! important
}
A:visited {
	COLOR: #000! important; TEXT-DECORATION: none! important
}
#tabs {
	DISPLAY: none! important
}
#globalheader {
	DISPLAY: none! important
}
#globalfooter {
	DISPLAY: none! important
}
#directorynav {
	DISPLAY: none! important
}
.noprint {
	DISPLAY: none! important
}
.hide {
	DISPLAY: none! important
}
#main A.pdf {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}
#main A.html {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}
#main A.qt {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}
#main A.ical {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}
#main A.dl {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}
#main A.dmg {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}
#main A.zip {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}
#main A.keynote {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}
#main A.audio {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}

}

@media Unknown    
{
HTML {
	-webkit-text-size-adjust: none
}

}
